@use "variables" as *;
@mixin flex-jc-c-ai-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-jc-sb-ai-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-jc-sa-ai-c {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

@mixin flex-jc-se-ai-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

@mixin grid-countdown-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.25fr 1fr 0.25fr;  
}

@mixin position-absolute-zero {
    position: absolute;
    left: 0;
    top: 0;
}

/*Mobile countdown grid portrait*/
@mixin grid-countdown-items-portrait-mobile {
    &-gridD {
        grid-area: 1 /1 /2 /2;
        /*font-size: 7.5rem*/
        background-color: $background-countdown;
    }

    &-captionD {
        grid-area: 2 /1 /3 /2;
        background-color: $background-countdown-caption;
    }

    &-gridH {
        grid-area: 1 /2 / 2 /3;
        background-color: $background-countdown;
    }

    &-captionH {
        grid-area: 2 /2 /3 / 3;
        background-color: $background-countdown-caption;
    }

    &-gridM {
        grid-area: 3 / 1 / 4 / 2;
        background-color: $background-countdown;
    }
          
    &-captionM {
        grid-area: 4 /1 / 5 / 2;
        background-color: $background-countdown-caption;
    }

    &-gridS {
        grid-area: 3 / 2 / 4 /3;
        background-color: $background-countdown;
    }

    &-captionS {
        grid-area: 4 / 2 / 5 /3;
        background-color: $background-countdown-caption;
    }
}

/*Mobile countdown grid landscape*/
@mixin grid-countdown-items-landscape-mobile{
    &-gridD {
        grid-area: 1 / 1 / 2 / 2;
        background-color: $background-countdown;
        font-size: 7.5rem;
    }

    &-captionD {
        grid-area: 2 / 1 / 2 / 1; 
        background-color: $background-countdown-caption;
        font-size: 1rem;
    }

    &-gridH {
        grid-area: 1 / 2 / 2 / 3;
        background-color: $background-countdown;
        font-size: 7.5rem;
    }

    &-captionH {
        grid-area: 2 / 2 / 2 / 2; 
        background-color: $background-countdown-caption;
        font-size: 1rem;
    }

    &-gridM {
        grid-area: 1 / 3 / 2 / 4; 
        background-color: $background-countdown;
        font-size: 7.5rem;
    }

    &-captionM {
        grid-area: 2 / 3 / 2 / 3; 
        background-color: $background-countdown-caption;
        font-size: 1rem;
    }

    &-gridS {
        grid-area: 1 / 4 / 2 / 5; 
        background-color: $background-countdown;
        font-size: 7.5rem;
    }

    &-captionS {
        grid-area: 2 / 4 / 2 / 4; 
        background-color: $background-countdown-caption;
        font-size: 1rem;
    }
}